@tailwind base;
@tailwind components;
@tailwind utilities;

//global styles
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #f5f5f5;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #4c4c4c;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

@media (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}


@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 60%;
  }
}

